/*base部分*/
html, body {
    height: 100%;
    margin: 0;
}
/*#navbar, #wrapper{*/
/*    min-width: 80%;*/
/*}*/
/*页脚*/
/*#footer>div.container{*/
/*    min-width: 80%;*/
/*}*/
#footer p{
    margin-bottom: 10px!important;
}
/*导航栏*/
.navbar{
    padding-left: 0px;
    padding-right: 0px;
}
.navbrand{
    width: 40px;
    height: 40px;
}
.navbar-brand span{
    margin: auto 0;
}


#wrapper {
    min-height: 100%;
    margin-bottom: -120px;
}

#footer, #push {
    min-height: 120px;
}

#footer {
    margin-bottom: -10px;
}

/*article_list部分*/
.search {
    position: relative;
}
div.navbar-collapse form.search{
    margin-bottom: 0px!important;
}

.selected{
    background: #FF7D00;
}

.s-submit {
    position: absolute;
    top: 12%;
    right: 4px;
    background: none;
    border: none;
    padding: 6px 3px;
}

.my-img:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
.my-img{
    transition: all 0.4s;
    -moz-transition: all 0.4s; /* Firefox 4 */
    -webkit-transition: all 0.4s; /* Safari and Chrome */
    -o-transition: all 0.4s; /* Opera */
}
.non-tags:hover, .tag-name:hover, .list-title:hover{
    cursor: pointer;
    transform: scale(1.05, 1.1);
}
.non-tags, .tag-name, .list-title{
    transition: all 0.3s;
    -moz-transition: all 0.3s; /* Firefox 4 */
    -webkit-transition: all 0.3s; /* Safari and Chrome */
    -o-transition: all 0.3s; /* Opera */
}

/*登陆注册页*/
ul.errorMessage{
    margin-bottom: 0;
    list-style: none;
    padding-left: 4px;
}
/*书详情页*/
.btn-sm{
    padding-top: 0rem;
    padding-bottom: 0rem;
}